name: Core Service CI

on:
  push:
    paths:
      - "services/core-service/**"

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: services/core-service

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: "21"
          distribution: "temurin"
          cache: "maven"

      - name: Grant execute permission for mvnw
        run: chmod +x mvnw && sed -i 's/\r$//' mvnw

      - name: Build and Test
        run: ./mvnw clean verify
